NEXT_PUBLIC_SUPABASE_URL="isi_dengan_project_url_supabase_anda"
NEXT_PUBLIC_SUPABASE_ANON_KEY="isi_dengan_anon_public_key_supabase_anda"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="isi_dengan_mapbox_access_token_anda"
